.data_title {
  font-size: 1.7rem;
}
.user_other_data {
  width: 70rem;
  padding: 1rem;
  border: 2px solid var(--primaryColor);
  border-radius: 8px;
  margin: 1rem;
}
.data_desciption {
  font-size: 1.4rem;
  margin: 1rem 0;
}
.data_date {
  font-size: 1.3rem;
}
.crud_btns {
  margin-top: 2.5rem;
}
.data_degree {
  font-size: 1.6rem;
  margin-top:1rem;
}
.crud_btns button {
  margin-right: 1rem;
  padding: 5px 1rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: var(--white);
  cursor: pointer;
}
.accordion_btn{
  font-size:2rem;
  margin:0 1rem;
}
@media only screen and (max-width: 600px) {
  .user_other_data {
    width: 25rem;
  }
}