.resume {
  margin: 1rem;
}

.resume_name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.resume_email {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.resume_bio {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.section_heading {
  font-size: 2.3rem;
}
.section_division {
  background-color: var(--primaryColor);
  height: 1px;
  margin: 5px 0;
}
.resume p {
  font-size: 1.6rem;
  color: var(--primaryColor);
  margin-bottom: 1rem;
}
.resume h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.download_btn {
  margin: 1rem;
  padding: 7px 1rem;
  border: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primaryColor);
  border-radius: 5px;
  cursor: pointer;
}
.resume_btns {
  margin: 2rem;
  width:25rem;
}
.resume_btns > input {
  display: none;
}

.upload_btn {
  margin: 1rem;
  width: 9rem;
  height: 3.4rem;
  border: none;
  text-align:center;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--primaryColor);
  border-radius: 5px;
  cursor: pointer;
}
