@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --primaryColor: #764af1;
  --white: #ffffff;
  --primaryBackground: #ffffff;
  --grey: #dfdfde;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--primaryBackground);
}
button {
  font-family: "Poppins", sans-serif;
}
