.spaced_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.spacebtwn_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.center_flex_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
